# IDE
.idea
.phpstorm.meta.php
_ide_helper.php

# MacOS
.DS_Store

# NPM
/node_modules
/npm-debug.log

# Composer
/vendor

# Application environment
.env
.env.json

# Homestead
Homestead.yaml

# Assets
public/!
!public/index.php
